$mainColor: #344477;

$secondColor: #4c5bb0;

$thirdColor: #f0932b;

$fourthColor: #7781CF;

$otherColor: #668179;

$white: #fff;

$lightWhite: #f4f4f4;

$menuColor: #adadad;

$gray: gray;

$ccc: #ccc;

$dark: #222;

// header
$header_height: 70px;

// distance
$s_d: 10px;
$m_d: 20px;
$l_d: 40px;

// fonts
$global_font: 'Roboto', sans-serif;
$head_font: 'Open Sans', sans-serif;
$s_f: 15px;
$m_f: 18px;
$l_f: 20px;

// btn
$btn_width: 130px;
$btn_height: 45px; 